/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
    font-family: "SourceHanSansCN-Light","Open Sans","Hiragino Sans GB","Microsoft YaHei","STHeiti-Light","WenQuanYi Micro Hei","Arial","SimSun","sans-serif";
    font-size: 14px;
    font-style: normal;
    line-height: 1.45;
    background-color: #f2f2f2;
}
a{
	transition: all 0.5s ease 0s;
	text-decoration: none;
	color: #333;
}

a:hover{
	text-decoration: none;
	color:#0065cf;
}

sup{
	background-color: #00B08C;
	display: block;
	height: 2px;
	margin: 0 auto;
	transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	width: 0px;
	top: 0.5em;
}
sup.active{
	width: 100%;
}
ul li{
	list-style: none;
}
ul.nav li:hover sup{
	width:100%;
}
.overs{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
    display:block;
}
.overing{
	background: #000 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    display: none;
}
.pannel{
	display: none;
    height: 100%;
    overflow:auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.pannel .cont{
	background: #fff none repeat scroll 0 0;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.47);
    left: 0;
    margin: 0 auto;
    max-width: 800px;
    overflow-y: auto;
    padding: 20px 0 30px;
    position: relative;
    right: 0;
    text-align: center;
    top: 6%;
    width: 90%;
    z-index: 200;
    margin-bottom: 80px;
}
.form-group select{
	padding: 6px 0px;
	border-radius: 4px;
	border: 1px solid #ccc;
	height: 34px;
	padding-right: 52.5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-group textarea{
	border:1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	float: left;
	padding: 6px;
}
.page-header{
	margin: 10px 0 20px;
}
.pannel .cont{
	position: relative;
}
.pannel .cont h2{
	margin: 10px 0;
}
.form-horizontal .has-feedback .form-control-feedback{
	top:10px;
}
.pannel .cont .form_list{
	margin-bottom: 20px;
	padding-right:20px;
}
.pannel .cont .form_list span{
	display: inline-block;
	width: 15%;
}
.pannel .cont .form_list select,.pannel .cont .form_list input{
	width: 30%;
	margin-left: 10px;
}
.col-lg-offset-2{
	margin-left: 2%;
}
.close{
	position: absolute;
	right: 20px;
	z-index: 999;
}
.form-horizontal .form-group{
	margin: 10px 0;
}


/** ** index ** **/
.mar_ts{
	padding: 0 15px;
}
.home_product{
	padding: 0px;
}
#section_products{
	width: 100%;
	max-width: none;
}
#section_products .carousel .item{
	height: 260px;
}
.video-js{
	margin: 0 auto;
}
/* header */
.header{
	height: 90px;
	background-color: #fff;
	width: 100%;
}
.pc_logo{
	background-image: url("../img/logo.png");
	width: 122px;
	height: 38px;
	margin-top: 24px;
}
.search{
	width: 84%;
	height: 48px;
	border:1px solid #d2d2d2;
	text-indent: 10px;
	background-color: #f1f1f1;
	float: left;
}
.zj_btn{
	background-color: #0065ce;
	height: 48px;
	width: 16%;
	border-radius: 0px;
	float: left;
	border:0px;
}
.form_input{
	display: inline-block;
    float: left;
    margin-left: 20%;
    margin-top: 20px;
    width: 40%;
    min-width: 280px;
}
.pl_ri{
	float: right;
	height: 90px;
	line-height: 90px;
}
.pl_ri_fi{
	font-size:1.2em;
}
.pl_ri_sc{
	font-size:1.2em;
}
/* nav */
.navbar{
	margin-bottom: 0;
	border:none;
	border-radius: 0;
}
.navbar-default{
	background-color: #0065ce;
	border-color: none;
}
.nav > li > a{
	padding: 15px 40px;
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
	background-color: #00a0e9;
	color: #fff;
}
.navbar-default .navbar-nav > li > a.active{
	background-color: #00a0e9;
}
.navbar-default .navbar-nav > li > a:hover{
	background-color: #00a0e9;
	color:#fff;
}

/* banner */
#banner .banner-item:nth-child(1) .banner-img{
	background-image: url('../img/banner-1.jpg');
}
#banner .banner-item:nth-child(2) .banner-img{
	background-image: url('../img/banner-2.jpg');
}

/* section_1 */
.introduction{
	padding: 20px 0;
}
.icon_global{
	background: url('../img/global_img.png') -17px -22px no-repeat;
	width:46px;
	height: 46px;
	display: inline-block;
}
.icon_core{
	background: url('../img/global_img.png') -98px -22px no-repeat;
	width: 46px;
	height: 46px;
	display: inline-block;
}
.icon_product{
	background: url('../img/global_img.png') -179px -22px no-repeat;
	width: 46px;
	height: 46px;
	display: inline-block;
}
.icon_service{
	background: url('../img/global_img.png') -260px -22px no-repeat;
	width: 46px;
	height: 46px;
	display: inline-block;
}
.introduction span{
	width: 100%;
	display: inline-block;
}

/* section_2_product */
.product_title  h2{
	margin-bottom: 0px;
}
.product_title span{
	display: inline-block;
	width: 40px;
	height: 4px;
	background-color: #303030;
}
.product_content .row > div > a:hover{
	color:#ff9900;
}
.picture_location{
	width:100%;
	overflow: hidden;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.picture_location img{
	width: 100%;
}
.product_title h2 a:hover{
	color: #ff9900;
}

/* about us*/
.pt_show{
	width: 100%;
	overflow: hidden;
}
.pt_show img{
	width: 100%;
}
.profile{
	padding:30px 30px 0 30px;
}
/* footer */
.footer_logo{
	background: url('../img/foot_logo.png');
	width: 116px;
	height: 106px;
	display: inline-block;
	float: left;
}
.footer_main{
	float: left;
	width: 80%;
	margin-left: 4%;
	height: 106px;
	line-height: 106px;
}
.footer_main div{
	float: left;
	width: 25%;
}
.footer_section p{
	margin: 0px;
}
/** ** index end ** **/





/** ** product ** **/
.a_upload{
	background: rgba(0, 0, 0, 0) url("../images/photo.png") no-repeat scroll center center;
    cursor: pointer;
    display: inline-block;
    height: 82px;
    overflow: hidden;
    position: relative;
	width: 200px;
}
.choose_list{
	padding: 0px;
	width: 49%;
	margin-left: 10px;
}
.choose_list:first-child{
	margin-left: 0px;
}
.choose_list img{
	width: 100%;
}
.product_main{
	padding: 0px;
}
.product_main h2{
	margin: 0px;
}
.product_main ul.top_list{
	border: 1px solid #0065cf;
	float: left;
	width: 100%;
}
.product_main ul.top_list > li{
	width: 100%;
	float: left;
	padding: 20px 30px;
	border-bottom: 1px solid #dcdcdc;
	position: relative;
	z-index: 10;
}
.product_main ul.top_list > li .menu_dropdown{
	position: absolute;
	left: 290px;
	top: 0px;
	padding: 20px 20px 6px 20px;
	z-index: 100;
	border:1px solid #0065cf;
	width: 864px;
	display: none;
}
.product_main ul.top_list > li .menu_dropdown ul li .logo_dimg{
	width: 68px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}
.product_main ul.top_list > li .menu_dropdown ul li span{
	display: inline-block;
	float: left;
}
.product_main ul.top_list > li .menu_dropdown ul li .logo_dimg img{
	width: 100%;
}
.product_main ul.top_list > li .menu_dropdown ul li{
	float: left;
	width: 25%;
	margin-bottom: 16px;
}
.product_main ul.top_list > li .menu_dropdown ul li a:hover span{
	color:#0065cf;
}
.product_main ul.top_list > li:hover{
	background-color: #fff;
}
.product_main ul.top_list li.prodctlist_menu:hover .menu_dropdown,.product_main ul.top_list li.strarter_downmenu:hover .menu_dropdown,
.product_main ul.top_list li.ALTPart_downmenu:hover .menu_dropdown,.product_main ul.top_list li.STRPart_downmenu:hover .menu_dropdown{
	display: block;
}
.product_main ul li:last-child{
	margin-bottom: 0px;
}
.product_content{
	float: left;
	width: 96%;
	margin-left: 4%;
}
.product_content ul.lw_proc{
	float: left;
	width: 100%;
	padding: 18px 1% 2px 2%;
	margin: 0px;
}
.product_content ul.lw_proc li{
	float: left;
	width: 24%;
	padding:1%;
	box-shadow: 0 0 8px rgba(0,0,0,.1);
	margin-left: 1%;
	margin-bottom: 16px;
}
.product_content ul.lw_proc li:nth-child(4n+1){
	margin-left: 0;
}
.product_content ul.lw_proc li h3{
	margin:10px 0;
}
.product_content ul.lw_proc li  .ali_section{
	padding:16px 0 10px;
}
.color_btn{
	display: inline-block;
	width: 46%;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	background-color: #ff9900;
	border-radius: 6px;
	color: #fff;
	text-align: center;
	font-size:0.8em;
	font-weight: bold;
	margin-top:20px;
	margin-left: 10px;
	transition: all 0.5s ease 0s;
}
.color_btn:hover{
	color: #fff;
	box-shadow: 0 0 8px rgba(255,153,0,.8);
}
.product_content .div_img{
	width: 100%;
	overflow:hidden;

}
.product_content .div_img img{
	width: 100%;
}
.bd_button{
	border: medium none;
    font-size: 0.9em;
    height: 36px;
    width: 20%;
}
.pdt_btn .color_btn{
	border: medium none;
    box-shadow: none;
    font-size: 12px;
    height: 36px;
    margin: 20px 0;
    transition: all 0.5s ease 0s;
    width: 30%;
}
.pdt_btn .color_btn:hover{
	box-shadow: 0 0 8px rgba(255, 153, 0, 0.8);

}
.nav-pdt{
	width: 100%;
	float: left;
}
.nav-pdt > li{
	border-bottom: 2px solid #e0e3e7;
    float: left;
    text-align: center;
    width: 25%;
    cursor: pointer;
    font-size:1.2em;
}
.nav-pdt > li.active{
	border-bottom-color: #4a4a4a;
}
.tab-content .tab-pane{
	padding: 10px;
}
.tab-content > .active{
	display: block;
    visibility: visible;
}
.nav-pdt > li a{
	color: #7b7b7b;
    display: block;
    text-decoration: none;
}
/** ** product end ** **/

/** ** product list ** **/
/* 2018.1.26 13:53 */
.pro_details{
	padding: 30px ;
}
.pro_details .product_big{
	width: 80%;
	overflow: hidden;
}
.pro_details .product_big img{
	width: 100%;
}

/** ** login ** **/
/* 2018.1.27 13:47 */
.login_main .color_btn{
	width: 100%;
	margin-left: 0;
}
.login_main  form{
	margin-bottom: 30px;
}
.login_total .login_title{
	width: 100%;
	float: left;
	text-align: left;
	padding:10px 0 10px 15px;
}
.bz_img{
	width: 100%;
	overflow:hidden;
	padding-top:80px;
}
.bz_img img{
	width: 50%;
}

/** ** perisonal ** **/
/* 2018.1.27 13:47 */
.pl_rilogin{
	font-size:0.8em;
}
.personal_main{
	padding:0px;
}
.personal_main ul.top_list{
	border: 1px solid #0065cf;
	float: left;
	width: 100%;
	padding:10px 30px 20px;
}
.personal_main ul.top_list > li{
	width: 100%;
	float: left;
	padding: 14px 0;
	border-bottom: 1px solid #1d2088;
	position: relative;
	z-index: 10;
	cursor: pointer;
	color: #fff;
}
.personal_main ul.top_list > li:hover,.personal_main ul.top_list > li.active{
	color: #ff9900;
}
.personal_main h2{
	margin: 0px;
}
.personal_content{
	float: left;
	width: 96%;
	margin-left: 4%;
}
.personal_content ul.per_content li{
	width: 100%;
	float: left;
	border: 1px solid #0065cf;
	margin-bottom: 20px;
	padding:20px;
}
/* 2018.1.27 20:52 */
.personal_content ul.per_content li .per_title{
	float:left;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #dcdcdc;
}
.personal_content ul.per_content li .per_main{
	float: left;
	width: 100%;
	margin-top: 20px;
}
.personal_content ul.per_content li .per_main .personal_img{
	width: 24%;
	overflow: hidden;
}
.personal_content ul.per_content li .per_main .personal_img img{
	width: 100%;
}
.personal_content ul.per_content li .per_text{
	width: 72%;
	margin-left: 4%;
}
.personal_content ul.per_content li .per_text span{
	display: inline-block;
	padding-right: 20px;
	font-size:1.2em;
	color: #707070;
	font-weight: bold;
}
.personal_content ul.per_content li .per_text .intro_section{
	float: left;
	width: 100%;
	margin: 10px 0 16px;
	padding: 14px;
	box-shadow: 0 0 8px rgba(0,0,0,.1);

}
.personal_content ul.per_content li .per_text .intro_section h4{
	margin-top: 10px;
}
.personal_content ul.per_content li .per_text .intro_section p{
	word-break:break-word; 
	word-break:break-all;
	color: #707070;
}
.personal_content ul.per_content li .per_text .sub_imgs{
	float: left;
	width: 100%;
}
.personal_content ul.per_content li .per_text .sub_imgs .sub_poimgs{
	width: 10%;
	overflow:hidden;
	margin-right: 10px;
	float: left;
}
.personal_content ul.per_content li .per_text .sub_imgs .sub_poimgs img{
	width: 100%;
}


/** ** download ** **/
/* 2018.1.28 10:50 */
.banner_head_Download{
	float: left;
	width: 100%;
	overflow: hidden;
}
.banner_head_Download img{
	width: 100%;
}
.download_main h2{
	font-size:1.6em;
	margin: 0 0 20px;
}
.icon_word{
	background:url('../img/global_img.png') -17px -105px no-repeat;
	width:20px;
	height:24px;
	float: left;
}
.icon_excel{
	background:url('../img/global_img.png') -17px -154px no-repeat;
	float: left;
	width: 20px;
	height: 24px;
}
.icon_ppt{
	background:url('../img/global_img.png') -17px -207px no-repeat;
	float: left;
	width: 20px;
	height: 24px;
}
.icon_pdf{
	background:url('../img/global_img.png') -17px -254px no-repeat;
	float: left;
	width: 20px;
	height: 24px;
}
.download_main ul li {
	width: 100%;
	float: left;
	padding-bottom: 16px;
}
.download_main ul li p{
	margin: 0px;
	display: inline-block;
	padding:4px 0 0 12px;
}
.ri_download{
	float: right;
	cursor: pointer;
}
.ri_download {
	color: #ff9900;
}
.ri_download span{
	color:#999;
}


/** ** about us ** **/
/* 2018.1.28 13:14 */
.aboutus_main{
	padding:60px 16%;
	float: left;
	width: 100%;
}
.aboutus_main p{
	word-break:break-word;
	word-break:break-all;
}


/** ** search_404 ** **/
/* 2018.1.28 14:12 */






/* 图片放大镜 */
/* 2018/1/26 17:16 */
.jqzoom{
        border:1px solid #BBB;
        float:left;
        position:relative;
        padding:0px;
        cursor:pointer;
    }
    div.zoomdiv {
        z-index: 999;
        position: absolute;
        top:0px;
        left:0px;
        width: 200px;
        height: 200px;
        background: #ffffff;
        border:1px solid #CCCCCC;
        display:block;
        text-align: center;
        overflow: hidden;
    }
    div.jqZoomPup {
        z-index: 999;
        visibility: hidden;
        position : absolute;
        top:0px;
        left:0px;
        width: 50px;
        height : 50px;
        border: 1px solid #aaa;
        background: #ffffff url(../images/zoomlens.gif) 50% top  no-repeat;
        opacity: 0.5;
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        filter: alpha(Opacity=50);
}
.pdt_total span{
	display: inline-block;
	width: 100%;
}
/* 响应式调整 */
@media (max-width: 767px) {
	.ip-none{
		display: none;
	}
	#banner .banner-item:nth-child(1) .banner-img{
		background-image: url('../img/ip_banner_1.jpg');
	}
	#banner .banner-item:nth-child(2) .banner-img{
		background-image: url('../img/ip_banner_2.jpg');
	}
	.footer_main{
		width: 100%;
	}
}



